{% load static %}
{% include 'head.html' %}
    <section class="home-slider owl-carousel" style="background-image: url('https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/sejarah.jpg'); 
        background-size: cover; background-position: center;">
        <div class="slider-item bread-item" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container-fluid">
                <div class="row slider-text align-items-center justify-content-center" data-scrollax-parent="true">
                    <div class="col-md-8 mt-5 text-center col-sm-12 ftco-animate"
                        data-scrollax=" properties: { translateY: '70%' }">
                        <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                            <span class="mr-2">Beranda</span>
                            <span>Pengalaman dan Dokumentasi</span>
                        </p>
                        <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                            Pengalaman dan Dokumentasi
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row d-flex mb-5 contact-info">
                <div class="col-md-12 mb-2">
                    <h2 class="h4">Pengalaman Kami</h2>
                    <p>
                        
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 ftco-animate">
                    <div class="table-responsive">
                        <table class="table border">
                            <thead class="thead-primary">
                                <tr>
                                    <th>No.</th>
                                    <th>Jenis Pekerjaan</th>
                                    <th>Tgl Pelaksanaan</th>
                                    <th>Keterangan</th>
                                </tr>
                            </thead>
                            <tbody class="text-left">
                                <tr>
                                    <td>1</td>
                                    <td>Diklat Teknis Pelaksanaan Asessmen Asesor Kompetensi Bidang Distribusi Tenaga Listrik</td>
                                    <td>26 sd. 31 Maret 2019</td>
                                    <td>PPSDM KEBTKE Kementerian ESDM</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Uji Asesor Kompetensi Bidang Distribusi Tenaga Listrik</td>
                                    <td>9 sd. 11 April 2018</td>
                                    <td>PPSDM KEBTKE Kementerian ESDM</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Workshop Launching Badan Layanan Umum PPSDM KEBTKE</td>
                                    <td>12 April 2018</td>
                                    <td>PPSDM KEBTKE Kementerian ESDM</td>
                                </tr>
                                <tr>
                                    <td rowspan="2" style="vertical-align : middle;">4</td>
                                    <td rowspan="2" style="vertical-align : middle;">Uji Kompetensi Tenaga Teknik Ketenagalistrikan, Bidang Distribusi Tenaga Listik, Sub Bidang Pembangunan dan Pemasangan</td>
                                    <td rowspan="2" style="vertical-align : middle;">28 sd. 30 Oktober 2019</td>
                                    <td>PT ATIGA SURYA</td>
                                </tr>
                                <tr>
                                    <td>PT MITRA PERSADA BERSAMA</td>
                                </tr>
                                <tr>
                                    <td rowspan="2" style="vertical-align : middle;">5</td>
                                    <td rowspan="2" style="vertical-align : middle;">Uji Kompetensi Tenaga Teknik Ketenagalistrikan, Bidang Distribusi Tenaga Listik, Sub Bidang Pembangunan dan Pemasangan</td>
                                    <td rowspan="2" style="vertical-align : middle;">22 sd. 24 Desember 2019</td>
                                    <td>PT ATIGA SURYA</td>
                                </tr>
                                <tr>
                                    <td>PT PEMBINA JAYA</td>
                                </tr>
                                <tr>
                                    <td rowspan="2" style="vertical-align : middle;">6</td>
                                    <td rowspan="2" style="vertical-align : middle;">Uji Kompetensi Tenaga Teknik Ketenagalistrikan, Bidang Distribusi Tenaga Listik, Sub Bidang Pembangunan dan Pemasangan</td>
                                    <td rowspan="2" style="vertical-align : middle;">7 sd. 8 Maret 2020</td>
                                    <td>PT ATIGA SURYA</td>
                                </tr>
                                <tr>
                                    <td>PT MITRA PERSADA BERSAMA</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>Uji Kompetensi Tenaga Teknik Ketenagalistrikan, Bidang Distribusi Tenaga Listrik, Sub Bidang Pemeliharaan</td>
                                    <td>8 Juni - 10 Juni 2020</td>
                                    <td>PT PLN BATAM</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>Uji Kompetensi Tenaga Teknik Ketenagalistrikan, Bidang Pembangkit Tenaga Listrik, Sub Bidang Pengoperasian</td>
                                    <td>30 Juni-2 Juli 2020 <br>6-8 Juli 2020</td>
                                    <td>PT MITRA ENERGI BATAM</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>Uji Kompetensi Tenaga Teknik Ketenagalistrikan, Bidang Pembangkit Tenaga Listrik, Sub Bidang Pemeliharaan dan Pengoperasian</td>
                                    <td>23-25 Juni 2020 <br>14-17 Juli 2020<br>21-23 Juli 2020<br>29-30 Juli 2020</td>
                                    <td>PT PLN (Persero) UIKL Kalimantan</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section pt-0">
        <div class="container">
            <div class="row d-flex mb-5 contact-info">
                <div class="col-md-12 mb-2">
                    <h2 class="h4">Dokumentasi Offline</h2>
                    <p>
                        
                    </p>
                </div>

            </div>
            <h2 class="h4" style="text-align: center;">Diklat Asesor</h2>
            <div class="row">
                <div class="col-md-4 ftco-animate text-center fadeInUp ftco-animated">
                    <div class="gallery">
                        <a href="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/diklatAsesor/1.jpg" data-lightbox="mygallery" data-title="Diklat Asesor"><img loading="lazy" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/diklatAsesor/1.jpg" class="img-fluid" alt="Diklat asesor Lskosha"></a>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate text-center fadeInUp ftco-animated">
                    <div class="gallery">
                        <a href="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/diklatAsesor/2.jpg" data-lightbox="mygallery" data-title="Diklat Asesor"><img loading="lazy" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/diklatAsesor/2.jpg" class="img-fluid" alt="Diklat asesor Lskosha"></a>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate text-center fadeInUp ftco-animated">
                    <div class="gallery">
                        <a href="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/diklatAsesor/3.jpg" data-lightbox="mygallery" data-title="Diklat Asesor"><img loading="lazy" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/diklatAsesor/3.jpg" class="img-fluid" alt="Diklat asesor Lskosha"></a>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate text-center fadeInUp ftco-animated">
                    <div class="gallery">
                        <a href="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/diklatAsesor/4.jpg" data-lightbox="mygallery" data-title="Diklat Asesor"><img loading="lazy" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/diklatAsesor/4.jpg" class="img-fluid" alt="Diklat asesor Lskosha"></a>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate text-center fadeInUp ftco-animated">
                    <div class="gallery">
                        <a href="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/diklatAsesor/5.jpg" data-lightbox="mygallery" data-title="Diklat Asesor"><img loading="lazy" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/diklatAsesor/5.jpg" class="img-fluid" alt="Diklat asesor Lskosha"></a>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate text-center fadeInUp ftco-animated">
                    <div class="gallery">
                        <a href="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/diklatAsesor/6.jpg" data-lightbox="mygallery" data-title="Diklat Asesor"><img loading="lazy" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/diklatAsesor/6.jpg" class="img-fluid" alt="Diklat asesor Lskosha"></a>
                    </div>
                </div>              
            </div>

            <br><br>
            <h2 class="h4" style="text-align: center;">UJI ASESOR</h2>
            <div class="row">
                <div class="col-md-4 ftco-animate text-center fadeInUp ftco-animated">
                    <div class="gallery">
                        <a href="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/ujiAsesor/1.jpg" data-lightbox="mygallery" data-title="UJI ASESOR"><img loading="lazy" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/ujiAsesor/1.jpg" class="img-fluid" alt="Uji asesor Lskosha"></a>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate text-center fadeInUp ftco-animated">
                    <div class="gallery">
                        <a href="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/ujiAsesor/2.jpg" data-lightbox="mygallery" data-title="UJI ASESOR"><img loading="lazy" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/ujiAsesor/2.jpg" class="img-fluid" alt="Uji asesor Lskosha"></a>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate text-center fadeInUp ftco-animated">
                    <div class="gallery">
                        <a href="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/ujiAsesor/3.jpg" data-lightbox="mygallery" data-title="UJI ASESOR"><img loading="lazy" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/ujiAsesor/3.jpg" class="img-fluid" alt="Uji asesor Lskosha"></a>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate text-center fadeInUp ftco-animated">
                    <div class="gallery">
                        <a href="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/ujiAsesor/4.jpg" data-lightbox="mygallery" data-title="UJI ASESOR"><img loading="lazy" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/ujiAsesor/4.jpg" class="img-fluid" alt="Uji asesor Lskosha"></a>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate text-center fadeInUp ftco-animated">
                    <div class="gallery">
                        <a href="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/ujiAsesor/5.jpg" data-lightbox="mygallery" data-title="UJI ASESOR"><img loading="lazy" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/ujiAsesor/5.jpg" class="img-fluid" alt="Uji asesor Lskosha"></a>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate text-center fadeInUp ftco-animated">
                    <div class="gallery">
                        <a href="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/ujiAsesor/6.jpg" data-lightbox="mygallery" data-title="UJI ASESOR"><img loading="lazy" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/ujiAsesor/6.jpg" class="img-fluid" alt="Uji asesor Lskosha"></a>
                    </div>
                </div>              
            </div>


            <br><br>
            <h2 class="h4" style="text-align: center;">WORKSHOP LAUNCHING BLU</h2>
            <div class="row">
                <div class="col-md-4 ftco-animate text-center fadeInUp ftco-animated">
                    <div class="gallery">
                        <a href="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/workshop/1.jpg" data-lightbox="mygallery" data-title="WORKSHOP LAUNCHING BLU"><img loading="lazy" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/workshop/1 low.jpg" class="img-fluid" alt="Workshop launching BLU"></a>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate text-center fadeInUp ftco-animated">
                    <div class="gallery">
                        <a href="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/workshop/2.jpg" data-lightbox="mygallery" data-title="WORKSHOP LAUNCHING BLU"><img loading="lazy" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/workshop/2 low.jpg" class="img-fluid" alt="Workshop launching BLU"></a>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate text-center fadeInUp ftco-animated">
                    <div class="gallery">
                        <a href="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/workshop/3.jpg" data-lightbox="mygallery" data-title="WORKSHOP LAUNCHING BLU"><img loading="lazy" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/workshop/3.jpg" class="img-fluid" alt="Workshop launching BLU"></a>
                    </div>
                </div>   
            </div>

            <br><br>
            <h2 class="h4" style="text-align: center;">UJI TENAGA TEKNIK 28 s.d 30 Oktober 2019</h2>
            <div class="row">
                <div class="col-md-4 ftco-animate text-center fadeInUp ftco-animated">
                    <div class="gallery">
                        <a href="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/ujiTT/1 low.jpg" data-lightbox="mygallery"  data-title="UJI TENAGA TEKNIK 28 s.d 30 Oktober 2019"><img loading="lazy" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/ujiTT/1 low.jpg" class="img-fluid" alt="Uji tenaga teknik Oktober 2019"></a>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate text-center fadeInUp ftco-animated">
                    <div class="gallery">
                        <a href="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/ujiTT/2.jpg" data-lightbox="mygallery" data-title="UJI TENAGA TEKNIK 28 s.d 30 Oktober 2019"><img loading="lazy" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/ujiTT/2.jpg" class="img-fluid" alt="Uji tenaga teknik Oktober 2019"></a>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate text-center fadeInUp ftco-animated">
                    <div class="gallery">
                        <a href="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/ujiTT/3 low.jpg" data-lightbox="mygallery" data-title="UJI TENAGA TEKNIK 28 s.d 30 Oktober 2019"><img loading="lazy" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/ujiTT/3 low.jpg" class="img-fluid" alt="Uji tenaga teknik Oktober 2019"></a>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate text-center fadeInUp ftco-animated">
                    <div class="gallery">
                        <a href="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/ujiTT/4.jpg" data-lightbox="mygallery" data-title="UJI TENAGA TEKNIK 28 s.d 30 Oktober 2019"><img loading="lazy" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/ujiTT/4.jpg" class="img-fluid" alt="Uji tenaga teknik Oktober 2019"></a>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate text-center fadeInUp ftco-animated">
                    <div class="gallery">
                        <a href="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/ujiTT/5.jpg" data-lightbox="mygallery" data-title="UJI TENAGA TEKNIK 28 s.d 30 Oktober 2019"><img loading="lazy" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/ujiTT/5.jpg" class="img-fluid" alt="Uji tenaga teknik Oktober 2019"></a>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate text-center fadeInUp ftco-animated">
                    <div class="gallery">
                        <a href="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/ujiTT/6.jpg" data-lightbox="mygallery" data-title="UJI TENAGA TEKNIK 28 s.d 30 Oktober 2019"><img loading="lazy" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/ujiTT/6.jpg" class="img-fluid" alt="Uji tenaga teknik Oktober 2019"></a>
                    </div>
                </div>              
            </div>

            <br><br>
            <h2 class="h4" style="text-align: center;">UJI TENAGA TEKNIK 22 s.d 24 Desember 2019</h2>
            <div class="row">
                <div class="col-md-4 ftco-animate text-center fadeInUp ftco-animated">
                    <div class="gallery">
                        <a href="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/ujiTT2/1 low.jpg" data-lightbox="mygallery"data-title="UJI TENAGA TEKNIK 22 s.d 24 Desember 2019"><img loading="lazy" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/ujiTT2/1 low.jpg" class="img-fluid" alt="Uji tenaga teknik Desember 2019"></a>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate text-center fadeInUp ftco-animated">
                    <div class="gallery">
                        <a href="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/ujiTT2/2 low.jpg" data-lightbox="mygallery" data-title="UJI TENAGA TEKNIK 22 s.d 24 Desember 2019"><img loading="lazy" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/ujiTT2/2 low.jpg" class="img-fluid" alt="Uji tenaga teknik Desember 2019"></a>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate text-center fadeInUp ftco-animated">
                    <div class="gallery">
                        <a href="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/ujiTT2/3 low.jpg" data-lightbox="mygallery"data-title="UJI TENAGA TEKNIK 22 s.d 24 Desember 2019"><img loading="lazy" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/ujiTT2/3 low.jpg" class="img-fluid" alt="Uji tenaga teknik Desember 2019"></a>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate text-center fadeInUp ftco-animated">
                    <div class="gallery">
                        <a href="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/ujiTT2/4 low.jpg" data-lightbox="mygallery"data-title="UJI TENAGA TEKNIK 22 s.d 24 Desember 2019"><img loading="lazy" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/ujiTT2/4 low.jpg" class="img-fluid" alt="Uji tenaga teknik Desember 2019"></a>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate text-center fadeInUp ftco-animated">
                    <div class="gallery">
                        <a href="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/ujiTT2/5 low.jpg" data-lightbox="mygallery"data-title="UJI TENAGA TEKNIK 22 s.d 24 Desember 2019"><img loading="lazy" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/ujiTT2/5 low.jpg" class="img-fluid" alt="Uji tenaga teknik Desember 2019"></a>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate text-center fadeInUp ftco-animated">
                    <div class="gallery">
                        <a href="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/ujiTT2/6 low.jpg" data-lightbox="mygallery"data-title="UJI TENAGA TEKNIK 22 s.d 24 Desember 2019"><img loading="lazy" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/ujiTT2/6 low.jpg" class="img-fluid" alt="Uji tenaga teknik Desember 2019"></a>
                    </div>
                </div>              
            </div>

            <br><br>
            <h2 class="h4" style="text-align: center;">UJI TENAGA TEKNIK 07 s.d 08 Maret 2020</h2>
            <div class="row">
                <div class="col-md-4 ftco-animate text-center fadeInUp ftco-animated">
                    <div class="gallery">
                        <a href="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/ujiTT3/1 low.jpg" data-lightbox="mygallery"data-title="UJI TENAGA TEKNIK 07 s.d 08 Maret 2020"><img loading="lazy" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/ujiTT3/1 low.jpg" class="img-fluid" alt="Uji tenaga teknik Maret 2020"></a>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate text-center fadeInUp ftco-animated">
                    <div class="gallery">
                        <a href="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/ujiTT3/2 low.jpg" data-lightbox="mygallery"data-title="UJI TENAGA TEKNIK 07 s.d 08 Maret 2020"><img loading="lazy" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/ujiTT3/2 low.jpg" class="img-fluid" alt="Uji tenaga teknik Maret 2020"></a>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate text-center fadeInUp ftco-animated">
                    <div class="gallery">
                        <a href="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/ujiTT3/3 low.jpg" data-lightbox="mygallery"data-title="UJI TENAGA TEKNIK 07 s.d 08 Maret 2020"><img loading="lazy" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/ujiTT3/3 low.jpg" class="img-fluid" alt="Uji tenaga teknik Maret 2020"></a>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate text-center fadeInUp ftco-animated">
                    <div class="gallery">
                        <a href="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/ujiTT3/4 low.jpg" data-lightbox="mygallery"data-title="UJI TENAGA TEKNIK 07 s.d 08 Maret 2020"><img loading="lazy" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/ujiTT3/4 low.jpg" class="img-fluid" alt="Uji tenaga teknik Maret 2020"></a>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate text-center fadeInUp ftco-animated">
                    <div class="gallery">
                        <a href="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/ujiTT3/5 low.jpg" data-lightbox="mygallery"data-title="UJI TENAGA TEKNIK 07 s.d 08 Maret 2020"><img loading="lazy" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/ujiTT3/5 low.jpg" class="img-fluid" alt="Uji tenaga teknik Maret 2020"></a>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate text-center fadeInUp ftco-animated">
                    <div class="gallery">
                        <a href="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/ujiTT3/6.jpg" data-lightbox="mygallery"data-title="UJI TENAGA TEKNIK 07 s.d 08 Maret 2020"><img loading="lazy" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/ujiTT3/6.jpg" class="img-fluid" alt="Uji tenaga teknik Maret 2020"></a>
                    </div>
                </div>              
            </div>
        </div>
    </section>          
               
    <section class="ftco-section pt-0">
        <div class="container">
            <div class="row d-flex mb-5 contact-info">
                <div class="col-md-12 mb-2">
                    <h2 class="h4">Dokumentasi Online</h2>
                    <p>
                        Penyelenggaraan sertifikasi disaat pandemi
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 ftco-animate text-center fadeInUp ftco-animated">
                    <div class="gallery">
                        <a href="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/online/1.jpg" data-lightbox="mygallery"><img loading="lazy" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/online/1.jpg" class="img-fluid" alt="Penyelenggaraan sertifikasi disaat pandemi"></a>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate text-center fadeInUp ftco-animated">
                    <div class="gallery">
                        <a href="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/online/2.jpg" data-lightbox="mygallery"><img loading="lazy" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/online/2.jpg" class="img-fluid" alt="Penyelenggaraan sertifikasi disaat pandemi"></a>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate text-center fadeInUp ftco-animated">
                    <div class="gallery">
                        <a href="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/online/3.jpg" data-lightbox="mygallery"><img loading="lazy" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/online/3.jpg" class="img-fluid" alt="Penyelenggaraan sertifikasi disaat pandemi"></a>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate text-center fadeInUp ftco-animated">
                    <div class="gallery">
                        <a href="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/online/4.jpg" data-lightbox="mygallery"><img loading="lazy" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/online/4.jpg" class="img-fluid" alt="Penyelenggaraan sertifikasi disaat pandemi"></a>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate text-center fadeInUp ftco-animated">
                    <div class="gallery">
                        <a href="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/online/5.jpg" data-lightbox="mygallery"><img loading="lazy" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/online/5.jpg" class="img-fluid" alt="Penyelenggaraan sertifikasi disaat pandemi"></a>
                    </div>
                </div>
                
                
            </div>
        </div>
    </section>

    {% include 'footer.html' %}