{% load static %}
{% include 'head.html' %}
<section class="home-slider owl-carousel">
        <div class="slider-item bread-item" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container-fluid">
                <div class="row slider-text align-items-center justify-content-center" data-scrollax-parent="true">
                    <div class="col-md-8 mt-5 text-center col-sm-12 ftco-animate"
                        data-scrollax=" properties: { translateY: '70%' }">
                        <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                            <span class="mr-2"><a href="index.html">Beranda</a></span>
                            <span>Permohonan Sertifikasi</span>
                        </p>
                        <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                            Permohonan Sertifikasi
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
<section class="ftco-section">
        <div class="container">
            <div class="row d-flex mb-5 contact-info">
                <div class="col-md-12 mb-4">
                    <h1 class="h1">Sedang Dalam Perbaikan</h1>
                    <h2 class="h4">Permohonan Sertifikasi</h2>
                    <p>
                        Silakan isi form di bawah ini untuk mengajukan permohonan sertifikasi di Osha
                    </p>
                </div>
            </div>
            <div class="row block-9">
                <div class="col-md-10 pr-md-5">
                    <form action="#" method="POST">
                        <div class="form-row">
                            <div class="col-md my-3">
                                <label>Nama Lengkap</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-md my-3">
                                <label>Email</label>
                                <input type="email" class="form-control">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md my-3">
                                <div class="form-group">
                                    <label>Telpon</label>
                                    <input type="tel" class="form-control">
                                </div>
                            </div>
                            <div class="col-md my-3">
                                <div class="form-group">
                                    <label></label>
                                    <select class="form-control">
                                        <option disabled selected>Pilih salah satu</option>
                                        <option value="Pasang Baru">Pasang Baru</option>
                                        <option value="Lain-lain">Lain-lain</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md my-3">
                                <div class="form-group">
                                    <label>Provinsi</label>
                                    <select class="form-control">
                                        <option disabled selected>Pilih salah satu</option>
                                        <option value="Jawa Timur">Jawa Timur</option>
                                        <option value="Lain-lain">Lain-lain</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md my-3">
                                <div class="form-group">
                                    <label></label>
                                    <select class="form-control">
                                        <option disabled selected>Pilih salah satu</option>
                                        <option value="Lain-lain">Lain-lain</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md my-3">
                                <div class="form-group">
                                    <label>Kota</label>
                                    <select class="form-control">
                                        <option disabled selected>Pilih salah satu</option>
                                        <option value="Surabaya">Surabaya</option>
                                        <option value="Lain-lain">Lain-lain</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md my-3">
                                <div class="form-group">
                                    <label></label>
                                    <select class="form-control">
                                        <option disabled selected>Pilih salah satu</option>
                                        <option value="Lain-lain">Lain-lain</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group my-3">
                            <label>Alamat</label>
                            <textarea cols="30" rows="7" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary py-3 px-5">Kirim Pendaftaran</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-2 my-4"></div>
            </div>
        </div>
    </section>
{% include 'footer.html' %}