{% load static %}
{% include 'head.html' %}
<section class="home-slider owl-carousel">
        <div class="slider-item bread-item" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container-fluid">
                <div class="row slider-text align-items-center justify-content-center" data-scrollax-parent="true">
                    <div class="col-md-8 mt-5 text-center col-sm-12 ftco-animate"
                        data-scrollax=" properties: { translateY: '70%' }">
                        <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                            <span class="mr-2"><a href="index.html">Beranda</a></span>
                            <span>Alur Sertifikasi</span>
                        </p>
                        <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                            Alur Sertifikasi
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <h1 style="text-align:center;">Halaman ini sedang dalam perbaikan</h1>
{% include 'footer.html' %}