{% load static %}
{% include 'head.html' %}
<main>
<section id="maklumat">
<div class="img-gradient" loading="lazy">
    <h3 class="mb-4 font-weight-bold text-dark" style="margin-top:80px; text-align:center; font-weight: 600; color:#371F1F">
                            MAKLUMAT
                        </h3>
                        
                        
                        <div class="container d-md-flex">
                            <div class="align-self-center mx-auto">
                                <img loading="lazy" src="https://d2k7cs0xs3rhdz.cloudfront.net/images/maklumat.JPG" class="img-fluid" style="margin-top:30px; width:700px;" alt="Maklumat pelayanan" width="300" height="200">
                            </div>
                        </div>
</div>
</section>
<section class="ftco-section bg-light bigText" id="layanan">
        <div class="container">
            <div class="row justify-content-center mb-2">
                <div class="col-md-7 text-center heading-section ftco-animate fadeInUp ftco-animated">
                    <h1 class="mb-4 font-weight-bold text-dark">Layanan Kami</h1>
                </div>
            </div>
            <div class="row">
                <div class="nav ftco-animate nav-pills justify-content-center text-center" id="osha-tab" role="tablist">
                    <a class="col-md-3 section-service active ftco-animate justify-content-center text-center" id="osha-service-1-tab" href="#osha-service-1" role="tab" aria-controls="osha-service-1" aria-selected="true" data-toggle="tab">
                        <div class="card h-100">
                            <div class="card-body">
                                <img loading="lazy" src="https://d2k7cs0xs3rhdz.cloudfront.net/images/pembangkit_minified.jpg" class="img-fluid service-icon" width=50>
                                <h6>Bidang Pembangkit Tenaga Listrik</h6>
                            </div>
                        </div>
                    </a>
                    <a class="col-md-3 section-service ftco-animate justify-content-center text-center" id="osha-service-2-tab" href="#osha-service-2" role="tab" aria-controls="osha-service-2" aria-selected="true" data-toggle="tab">
                        <div class="card h-100">
                            <div class="card-body">
                                <img loading="lazy" src="https://d2k7cs0xs3rhdz.cloudfront.net/images/distribusi_minified.jpg" class="img-fluid service-icon" width=50>
                                <h6>Bidang Distribusi Tenaga Listrik</h6>
                            </div>
                        </div>
                    </a>
                    <a class="col-md-3 section-service ftco-animate justify-content-center text-center" id="osha-service-3-tab" href="#osha-service-3" role="tab" aria-controls="osha-service-3" aria-selected="true" data-toggle="tab">
                        <div class="card h-100">
                            <div class="card-body">
                                <img loading="lazy" src="https://d2k7cs0xs3rhdz.cloudfront.net/images/instalasi_minified.jpg" class="img-fluid service-icon" width=50>
                                <h6>Bidang Instalasi Pemanfaatan Tenaga Listrik</h6>
                            </div>
                        </div>
                    </a>
                    <a class="col-md-3 section-service ftco-animate justify-content-center text-center" id="osha-service-4-tab" href="#osha-service-4" role="tab" aria-controls="osha-service-4" aria-selected="true" data-toggle="tab">
                        <div class="card h-100">
                            <div class="card-body">
                                <img loading="lazy" src="https://d2k7cs0xs3rhdz.cloudfront.net/images/penjualan_minified.jpg" class="img-fluid service-icon" width=50>
                                <h6>Bidang Penjualan Tenaga Listrik</h6>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-5">
                    <div class="tab-content ftco-animate fadeInUp ftco-animated" id="osha-tabContent">
                        <div class="tab-pane fade active show" id="osha-service-1" role="tabpanel" aria-labelledby="osha-service-1-tab">
                            <h2 class="font-weight-bold">
                                Bidang Pembangkit Tenaga Listrik
                            </h2>
                            <h2 class="font-weight-bold">
                                Sub Bidang
                            </h2>
                           <ul style="font-size:20px;">
                               <li>Konsultasi</li>
                               <li>Pembangunan dan Pemasangan</li>
                               <li>Pemeriksaan dan Pengujian</li>
                               <li>Pengoperasian</li>
                               <li>Pemeliharaan</li>
                           </ul>
                        </div>
                        <div class="tab-pane fade" id="osha-service-2" role="tabpanel" aria-labelledby="osha-service-2-tab">
                            <h2 class="font-weight-bold">
                                Bidang Distribusi Tenaga Listrik
                            </h2>
                            <h2 class="font-weight-bold">
                                Sub Bidang
                            </h2>
                            <ul style="font-size:20px;">
                               <li>Konsultasi</li>
                               <li>Pembangunan dan Pemasangan</li>
                               <li>Pemeriksaan dan Pengujian</li>
                               <li>Pengoperasian</li>
                               <li>Pemeliharaan</li>
                           </ul>
                        </div>
                        <div class="tab-pane fade" id="osha-service-3" role="tabpanel" aria-labelledby="osha-service-3-tab">
                            <h2 class="font-weight-bold">
                                Bidang Instalasi Pemanfaatan Tenaga Listrik
                            </h2>
                            <h2 class="font-weight-bold">
                                Sub Bidang
                            </h2>
                            <ul style="font-size:20px;">
                               <li>Konsultasi</li>
                               <li>Pembangunan dan Pemasangan</li>
                               <li>Pemeriksaan dan Pengujian</li>
                               <li>Pengoperasian</li>
                               <li>Pemeliharaan</li>
                           </ul>
                        </div>
                        <div class="tab-pane fade" id="osha-service-4" role="tabpanel" aria-labelledby="osha-service-4-tab">
                            <h2 class="font-weight-bold">
                                Bidang Penjualan Tenaga Listrik
                            </h2>
                            <h2 class="font-weight-bold">
                                Sub Bidang
                            </h2>
                            <ul style="font-size:20px;">
                               <li>Penjualan Antar Negara</li>
                               <li>Penjualan Antar Penyedia Listrik</li>
                               <li>Penjualan Langsung</li>
                               <li>Aktifitas Penunjang Penjualan</li>
                           </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="row">
                        <div class="col">
                            <a href="https://d2k7cs0xs3rhdz.cloudfront.net/images/legalitas/legal1_minified.jpg" data-lightbox="mygallery" data-title="Diklat Asesor"><img loading="lazy" src="https://d2k7cs0xs3rhdz.cloudfront.net/images/legalitas/legal1_minified.jpg" class="img-fluid" alt="Sertifikat badan usaha" width="600" height="300"></a>
                        </div>

                    </div>
                </div>
            </div>

</div>
    </section>

<section id="alur" >
<div class="img-gradient" loading="lazy">
    <h2 class="mb-4 font-weight-bold text-dark" style="margin-top:40px; text-align:center; font-weight: 600; color:#371F1F">
                            Alur Sertifikasi
                        </h2>
                        
                        <div class="container d-md-flex">
                            <div class="align-self-center mx-auto">
                                <img loading="lazy" src="https://d2k7cs0xs3rhdz.cloudfront.net/images/proses_sertifikasi.png" width="300" height="200" class="img-fluid" style="margin-top:30px; width:900px;" alt="Alur sertifikasi PT OSHA">
                            </div>
                        </div>
</div>
</section>
<section class="ftco-animate py-5 bg-light" id="persyaratan">
        <div class="container">
            <div class="row justify-content-center mb-2">
                <div class="col-md-7 text-center heading-section ftco-animate fadeInUp ftco-animated">
                    <h2 class="mb-4 font-weight-bold text-dark">Persyaratan</h2>
                </div>
            </div>
            <div class="row">
                <div class="nav ftco-animate nav-pills justify-content-center text-center" id="osha-tab-2" role="tablist">
                    <a class="col-md-4 section-service active ftco-animate justify-content-center text-center" id="osha-requirement-1-tab" href="#osha-requirement-1" role="tab" aria-controls="osha-requirement-1" aria-selected="true" data-toggle="tab">
                        <div class="card h-100">
                            <div class="card-body">
                                <h6>Persyaratan Permohonan Sertifikasi Kompetensi</h6>
                            </div>
                        </div>
                    </a>
                    <a class="col-md-4 section-service ftco-animate justify-content-center text-center" id="osha-requirement-2-tab" href="#osha-requirement-2" role="tab" aria-controls="osha-requirement-2" aria-selected="true" data-toggle="tab">
                        <div class="card h-100">
                            <div class="card-body">
                                <h6>Persyaratan Perpanjangan dan Penyesuaian Sertifikat</h6>
                            </div>
                        </div>
                    </a>
                    <a class="col-md-4 section-service ftco-animate justify-content-center text-center" id="osha-requirement-3-tab" href="#osha-requirement-3" role="tab" aria-controls="osha-requirement-3" aria-selected="true" data-toggle="tab">
                        <div class="card h-100">
                            <div class="card-body">
                                <h6>Skema Sertifikasi Kompetensi</h6>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-12">
                    <div class="tab-content ftco-animate fadeInUp ftco-animated" id="osha-tabContent-2">
                        <div class="tab-pane fade active show" id="osha-requirement-1" role="tabpanel" aria-labelledby="osha-requirement-1-tab">
                            <div>
                                <h4 class="font-weight-bold">
                                    1. MENGISI SURAT PERMOHONAN YANG DILAMPIRI DENGAN :
                                </h4>
                                <ul>
                                    <li>
                                        Foto Copy KTP
                                    </li>
                                    <li>
                                        Foto Copy Ijazah
                                    </li>
                                    <li>
                                        Pas Foto ukuran 3 x 4 CM dengan latar belakang berwarna merah
                                    </li>
                                </ul>
                            </div>
                            <div style="margin-bottom:30px;">
                                <h4 class="font-weight-bold">
                                    2. MENGISI DAFTAR RIWAYAT HIDUP.
                                </h4>
                            </div>
                            <div style="margin-bottom:60px;">
                                <h4 class="font-weight-bold">
                                    3. MENGISI OKUPASI JABATAN.
                                </h4>
                            <div >
                                <h4 class="font-weight-bold">
                                   4. MENGISI PENILAIAN MANDIRI YANG DILAMPIRI DENGAN :
                                </h4>
                                <ul>
                                    <li>
                                        Foto Kegiatan Pekerjaan
                                    </li>
                                    <li>
                                        SK Jabatan
                                    </li>
                                    <li>
                                        SOP/IK
                                    </li>
                                </ul>
                            </div>
                            <div >
                                <h4 class="font-weight-bold">
                                   Lampiran Dokumen :
                                </h4>
                                <a href="{% static 'form.docx' %}">Dokumen Form PP-1.1 sampai PP-1.4</a>
                            </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="osha-requirement-2" role="tabpanel" aria-labelledby="osha-requirement-2-tab">
                            <div>
                                <h4 class="font-weight-bold">
                                    1. Surat Permohonan dilampiri dengan : 
                                </h4>
                                <ul>
                                    <li>
                                        Foto Copy KTP
                                    </li>

                                    <li>
                                        Foto Copy Sertifikat Kompetensi
                                    </li>
                                    <li>
                                        Pasfoto ukuran 3 x 4 cm latar belakang warna merah 
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <h4 class="font-weight-bold">
                                    2. Daftar Riwayat Hidup
                                </h4>
                            </div>
                            <div>
                                <h4 class="font-weight-bold">
                                    3. Okupasi Jabatan
                                </h4>
                            </div>
                            <div>
                                <h4 class="font-weight-bold">
                                    4. Penilaian Mandiri dilampiri 
                                </h4>
                            </div>
                            <div>
                                <h4 class="font-weight-bold">
                                    5. Uraian Penilaian Mandiri dilampiri dengan : 
                                </h4>
                                <ul>
                                    <li>
                                        SOP / IK
                                    </li>
                                    <li>
                                        SK, Surat Tugas, SPK dan Jurnal
                                    </li>
                                    <li>
                                        Uraian Jabatan
                                    </li>
                                    <li>
                                        Foto Kegiatan Pekerjaan 
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane fade text-center" id="osha-requirement-3" role="tabpanel" aria-labelledby="osha-requirement-3-tab">                            
                            <div class="my-4">
                                <div class="container d-md-flex">
                                <div class="ml-md-5 align-self-center">
                                    <h2 class="mb-4 text-center">Pelaksanaan uji kompetensi</h2>
                                    <article>
                                    <p class="textLeft">&nbsp;&nbsp;&nbsp;&nbsp;Pelaksanaan uji kompetensi tenaga teknik ketenagalistrikan, terdiri dari
                                    tiga tahapan yaitu uji tulis, uji praktek dan uji wawancara. Uji praktek
                                    sesungguhnya merupakan tahapan untuk memastikan bahwa para peserta
                                    benar-benar bisa melaksanakan pekerjaannya sebagaimana yang
                                    dipersyaratkan didalam aturan-aturan atau standar yang berlaku agar semua
                                    peralatan dapat bekerja dengan baik, aman dan andal serta ramah lingkungan.
                                    Sebelum kondisi pandemi covid19, semua tahapan uji kompetensi tenaga
                                    teknik dilakukan secara tatap muka langsung antara Tim penguji dengan
                                    peserta uji.<br/>
                                    &nbsp;&nbsp;&nbsp;&nbsp;Dimasa pandemi seperti sekarang ini, bagaiamanapun juga menjaga
                                    kesehatan tetaplah menjadi prioritas demi keberlangsungan aktifitas dan
                                    kehidupan sosial masyarakat, termasuk para petugas teknis dilapangan.
                                    Berkaitan dengan kondisi ini, aktifitas penyelenggaraan uji kompetensi tenaga
                                    teknik ketenagalistrikan tidak boleh berhenti dan tetap berjalan seiring
                                    dengan kebijakan Direktorat Jenderal Ketenagalistrikan, yaitu pelaksanaan uji
                                    kompetensi dapat dilaksanakan secara daring (online via streaming internet).
                                    Oleh karena itu, sejak pertengahan tahun 2020 semua tahapan uji kompetensi
                                    tenaga teknik ketenagalistrikan diselenggarakan secara daring, mulai dari uji
                                    tulis, uji praktek lapangan sampai uji lisan / wawancara.
                                    Pelaksanaan uji secara daring memang terkadang menemui kendala, antara
                                    lain signal internet dibeberapa daerah pada kondisi tertentu signalnya tidak
                                    baik sebagaimana yang kita harapkan.<br/>
                                    &nbsp;&nbsp;&nbsp;&nbsp;Berikut gambaran aktifitas pelaksanakan uji kompetensi yang disajikan secara
                                    visual, mulai dari tahapan uji yang dilaksanakan secara tatap muka langsung,
                                    dan pelaksanaaan uji yang dilaksanakan secara daring oleh PT. OSHA pada
                                    periode 2019-2021.</p>
                                    </article>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<section id="kegiatanUjiKompetensi">
<div class="img-gradient"style="
    height: 1000px;
    " loading="lazy">
    <h2 class="mb-4 font-weight-bold text-dark" style="margin-top:40px; text-align:center; font-weight: 600; color:#371F1F">
                            Kegiatan Uji Kompetensi
                        </h2>
                        
                        <div class="row justify-content-center text-center">
                            <div class="col-md-12">
                                <div id="guide" loading="lazy"></div>
                            </div>
                        </div>
</div>
</section>
<section class="ftco-animate py-5" id="keluh">
        <div class="container">
            <div class="row justify-content-center mb-2">
                <div class="col-md-7 text-center heading-section ftco-animate fadeInUp ftco-animated">
                    <h2 class="mb-4 font-weight-bold text-dark">Keluhan dan Banding</h2>
                </div>
            </div>
            <div class="row justify-content-center text-center">
                <div class="col-md-6 my-2">
                    <div class="card shadow">
                        <div class="card-body">
                            <i class="fa fa-lg fa-fw fa-mobile"></i>
                            <h5 class="font-weight-bold">
                                Ibu Herlina
                            </h5>
                            <h6>
                                +628984057362
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="card shadow">
                        <div class="card-body">
                            <i class="fa fa-lg fa-fw fa-mobile"></i>
                            <h5 class="font-weight-bold">
                                Ibu Herlina
                            </h5>
                            <h6>
                                +628984057362
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-6 text-center">
                    <div class="my-3">
                        <img loading="lazy" src="https://d2k7cs0xs3rhdz.cloudfront.net/images/BAGAN OSHA.PNG" class="img-fluid bagan2" width="300" height="200"  alt="Proses keluhan">
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <div class="my-3">
                        <img loading="lazy" src="https://d2k7cs0xs3rhdz.cloudfront.net/images/baganProsesBanding.PNG" class="img-fluid bagan" width="400" height="700" alt="Proses banding">
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
</main>
{% include 'footer.html' %}