{% load static %}
{% include 'head.html' %}
<section class="home-slider owl-carousel">
        <div class="slider-item bread-item" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container-fluid">
                <div class="row slider-text align-items-center justify-content-center" data-scrollax-parent="true">
                    <div class="col-md-8 mt-5 text-center col-sm-12 ftco-animate"
                        data-scrollax=" properties: { translateY: '70%' }">
                        <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                            <span class="mr-2"><a href="index.html">Beranda</a></span>
                            <span>Ruang Lingkup</span>
                        </p>
                        <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                            Ruang Lingkup
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
<section class="ftco-section services-section bg-light">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 text-center heading-section ftco-animate fadeInUp ftco-animated">
                    <h2 class="mb-4 font-weight-bold text-dark">Ruang Lingkup</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
                    <div class="media block-6 services d-block">
                        <div class="d-flex justify-content-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="flaticon-settings"></span>
                            </div>
                        </div>
                        <div class="media-body p-2 mt-3 text-center">
                            <h3 class="heading">Bidang Pembangkit Tenaga Listrik</h3>
                            <p>Sub Bidang :</p>
                            <ul class="circle-bordered-list scope-list">
                                <li class="text-justify">
                                    Konsultansi Perencanaan
                                </li>
                                <li class="text-justify">
                                    Konsultansi Pengawasan
                                </li>
                                <li class="text-justify">
                                    Pembangunan dan Pemasangan
                                </li>
                                <li class="text-justify">
                                    Pemeriksaan dan Pengujian
                                </li>
                                <li class="text-justify">
                                    Pengoperasian
                                </li>
                                <li class="text-justify">
                                    Pemeliharaan
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
                    <div class="media block-6 services d-block">
                        <div class="d-flex justify-content-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="flaticon-settings"></span>
                            </div>
                        </div>
                        <div class="media-body p-2 mt-3 text-center">
                            <h3 class="heading">Bidang Transmisi Tenaga Listrik</h3>
                            <p>Sub Bidang :</p>
                            <ul class="circle-bordered-list scope-list">
                                <li class="text-justify">
                                    Konsultansi Perencanaan
                                </li>
                                <li class="text-justify">
                                    Konsultansi Pengawasan
                                </li>
                                <li class="text-justify">
                                    Pembangunan dan Pemasangan
                                </li>
                                <li class="text-justify">
                                    Pemeriksaan dan Pengujian
                                </li>
                                <li class="text-justify">
                                    Pengoperasian
                                </li>
                                <li class="text-justify">
                                    Pemeliharaan
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
                    <div class="media block-6 services d-block">
                        <div class="d-flex justify-content-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="flaticon-settings"></span>
                            </div>
                        </div>
                        <div class="media-body p-2 mt-3 text-center">
                            <h3 class="heading">Bidang Distribusi Tenaga Listrik</h3>
                            <p>Sub Bidang :</p>
                            <ul class="circle-bordered-list scope-list">
                                <li class="text-justify">
                                    Konsultansi Perencanaan
                                </li>
                                <li class="text-justify">
                                    Konsultansi Pengawasan
                                </li>
                                <li class="text-justify">
                                    Pembangunan dan Pemasangan
                                </li>
                                <li class="text-justify">
                                    Pemeriksaan dan Pengujian
                                </li>
                                <li class="text-justify">
                                    Pengoperasian
                                </li>
                                <li class="text-justify">
                                    Pemeliharaan
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
                    <div class="media block-6 services d-block">
                        <div class="d-flex justify-content-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="flaticon-settings"></span>
                            </div>
                        </div>
                        <div class="media-body p-2 mt-3 text-center">
                            <h3 class="heading">Bidang Instalasi Pemanfaatan Tenaga Listrik</h3>
                            <p>Sub Bidang :</p>
                            <ul class="circle-bordered-list scope-list">
                                <li class="text-justify">
                                    Konsultansi Perencanaan
                                </li>
                                <li class="text-justify">
                                    Konsultansi Pengawasan
                                </li>
                                <li class="text-justify">
                                    Pembangunan dan Pemasangan
                                </li>
                                <li class="text-justify">
                                    Pemeriksaan dan Pengujian
                                </li>
                                <li class="text-justify">
                                    Pemeliharaan
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% include 'footer.html' %}