{% load static %}
{% include 'head.html' %}
    <section class="home-slider owl-carousel" style="background-image: url('https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/sejarah_minified.jpg'); 
        background-size: cover; background-position: center;">
        <div class="slider-item bread-item" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container-fluid">
                <div class="row slider-text align-items-center justify-content-center" data-scrollax-parent="true">
                    <div class="col-md-8 mt-5 text-center col-sm-12 ftco-animate"
                        data-scrollax=" properties: { translateY: '70%' }">
                        <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                            <span class="mr-2">Beranda</span>
                            <span>Daftar Asesor</span>
                        </p>
                        <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                            Daftar Asesor
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <h2 class="mb-4 font-weight-bold text-dark" style="margin-top:40px; text-align:center; font-weight: 600; color:#371F1F">
                            Tenaga Sumber Daya Manusia
                        </h2>
                        
    
<section>
    <div class="container">
    <div class="row d-md-flex">
                <div class="col-md-12 ftco-animate about-image">
                    <img src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/diklatAsesor/6.jpg" class="img-fluid py-5" alt="Logo Osha" style="display: block;
                      margin-left: auto;
                      margin-right: auto;
                      width: 60%;" alt="logo osha">
                </div>
                <div class="ftco-animate" >
                    <div class="row">
                        <div class="align-items-center" style="font-family: Work Sans, Arial, sans-serif;
                            background: #fff;
                            font-size: 18px;
                            line-height: 1.8;
                            font-weight: 400;">
                            <div>
                                <article>
                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tenaga sumber daya manusia (SDM) yang tergabung di PT OSHA sebagai Asesor Kompetensi dalam proses uji sertifikasi adalah para tenaga ahli yang menguasai hal-hal teknis dibidangnya dengan pengalaman tidak kurang dari 20 tahun. Latar belakang pengalaman teknis yang pernah diemban oleh para asesor antara lain bidang: konsultansi, perencanaan, pembangunan dan pengawasan, operasi dan pemeliharaan serta manajemen pada pembangkit tenaga listrik dan jaringan distribusi tenaga listrik, termasuk sebagai tenaga pengajar (dosen) di perguruan tinggi teknik.<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Adapun mengenai latar belakang pendidikan formalnya, mulai dari jenjang S1 sampai dengan S3 dari berbagai jurusan antara lain jurusan teknik elektro, teknik mesin, manajemen, dan ditambah dengan pendidikan non formal melalui diklat-diklat dan seminar. Selain tenaga teknis, juga didukung oleh tenaga administrasi yang berpengalaman dalam penyelenggaraan proses uji sertifikasi.<br>
Rincian tenaga SDM di PT OSHA sebagai berikut:
                                </p>
<div style="font-weight:600; font-size:22px;">1. Asesor Kompetensi</div>
<p> Asesor Kompetensi yang memiliki jenjang kualifikasi pada masing-masing bidang dengan rincian:<br>
a. Asesor Kompetensi Bidang Pembangkitan : 20 orang<br>
b. Asesor Kompetensi Bidang Distribusi &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: 30 orang<br>
c. Asesor Kompetensi Bidang IPTL &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: 16 Orang<br>
d. Asesor Kompetensi Bidang Penjualan &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;: 8 orang<br>
Sebagaimana tampilan grafik data asesor dibawah:<br>
</p>
<div class="col-md-12 ftco-animate about-image">
                    <img src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/dataAsesor.PNG" class="img-fluid py-5" alt="Logo Osha" style="display: block;
                      margin-left: auto;
                      margin-right: auto;
                      width: 40%;" alt="Grafik Asesor">
                </div>
<div style="font-weight:600; font-size:22px;">2. Tenaga Administrasi</div>
<p>Ada tiga orang tenaga administrasi yang mendukung kegiatan operasional secara full time.<br></p>

                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            </div>
</section>
<section class="ftco-section pt-0">
        <h2 class="font-weight-bold text-center my-4">Penanggung Jawab</h2>
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div class="card-box text-center">
                        <div class="user-pic">
                            <img src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/asesor/foto3.JPG" class="img-fluid" alt="Asesor osha bidang distribusi">
                        </div>
                        <h4>Ir. Roberton Manurung MM</h4>
                        <h6>Distribusi</h6>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div class="card-box text-center">
                        <div class="user-pic">
                            <img src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/asesor/foto1.jpeg" class="img-fluid" alt="Asesor osha bidang distribusi">
                        </div>
                        <h4>Ir. Salmin Letto</h4>
                        <h6>Distribusi</h6>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div class="card-box text-center">
                        <div class="user-pic">
                            <img src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/asesor/foto2.jpg" class="img-fluid" alt="Asesor osha bidang distribusi">
                        </div>
                        <h4>Ir. Arief Nurhidayat MM</h4>
                        <h6>Distribusi</h6>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div class="card-box text-center">
                        <div class="user-pic">
                            <img src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/asesor/foto4.jpg" class="img-fluid" alt="Asesor osha bidang pembangkitan" style="width:300px;">
                        </div>
                        <h4>Ir. Saiin MM</h4>
                        <h6>Pembangkitan</h6>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div class="card-box text-center">
                        <div class="user-pic">
                            <img src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/asesor/foto5.jpeg" class="img-fluid" alt="Asesor osha bidang pembangkitan">
                        </div>
                        <h4>Ir. Sulistyono MT</h4>
                        <h6>Pembangkitan</h6>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div class="card-box text-center">
                        <div class="user-pic">
                            <img src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/asesor/foto6.jpeg" class="img-fluid" alt="Asesor osha bidang pemanfaatan">
                        </div>
                        <h4>Ir. Hari Cahyono</h4>
                        <h6>Pemanfaatan Tenaga Listrik</h6>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div class="card-box text-center">
                        <div class="user-pic">
                            <img src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/asesor/foto7.jpeg" class="img-fluid" alt="Asesor osha bidang distribusi">
                        </div>
                        <h4>Ir Untung Prihadi</h4>
                        <h6>Distribusi</h6>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div class="card-box text-center">
                        <div class="user-pic">
                            <img src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/asesor/foto9.jpeg" class="img-fluid" alt="Asesor osha bidang penjualan">
                        </div>
                        <h4>Ir. Sanjtoko</h4>
                        <h6>Penjualan Tenaga Listrik</h6>
                    </div>
                </div>

            </div>
        </div>
    </section>

<section class="ftco-section pt-0">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 text-center ftco-animate">
                    <h2 class="mb-4 font-weight-bold">Grafik Monitoring Pelaksanaan Uji</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 ftco-animate text-center fadeInUp ftco-animated">
                    <div class="gallery">
                        <a href="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/bagan/bagan1.PNG" data-lightbox="mygallery" data-title="Diklat Asesor"><img src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/bagan/bagan1.PNG" class="img-fluid" alt="Grafik jumlah asesi yang telah diuji"></a>
                    </div>
                </div>
                <div class="col-md-6 ftco-animate text-center fadeInUp ftco-animated">
                    <div class="gallery">
                        <a href="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/bagan/bagan2.PNG" data-lightbox="mygallery" data-title="Diklat Asesor"><img src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/bagan/bagan2.PNG" class="img-fluid" alt="Grafik uji kompetensi bidang distribusi"></a>
                    </div>
                </div>
                <div class="col-md-6 ftco-animate text-center fadeInUp ftco-animated">
                    <div class="gallery">
                        <a href="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/bagan/bagan3.PNG" data-lightbox="mygallery" data-title="Diklat Asesor"><img src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/bagan/bagan3.PNG" class="img-fluid" alt="Grafik uji kompetensi bidang pembangkitan"></a>
                    </div>
                </div>
                <div class="col-md-6 ftco-animate text-center fadeInUp ftco-animated">
                    <div class="gallery">
                        <a href="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/bagan/bagan4.PNG" data-lightbox="mygallery" data-title="Diklat Asesor"><img src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/bagan/bagan4.PNG" class="img-fluid" alt="Grafik uji kompetensi bidang pembangkitan & distribusi"></a>
                    </div>
                </div>          
            </div>
        </div>
    </section>


    <section class="ftco-section" style="margin-top:-100px;">
        <div class="conz">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 text-center ftco-animate">
                    <h2 class="mb-4 font-weight-bold">Daftar Asesor</h2>
                </div>
            </div>
            <div class="row ftco-animate testimony-section">
                    <div class="row flex-nowrap" style="overflow-x:auto;">
                        {% for a in sesuatu %}
                            <div class="col-md-3 col-lg-2 col-sm-4 col-xs-4">
                                <div class="card-box text-center">
                                    <div class="user-pic">
                                        <img src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/asesor/profile.jpg" class="img-fluid" alt="User Pic">
                                    </div>
                                    <h4>{{a.namaAsesor}}</h4>
                                    <hr>
                                    {% for b in a.bidang.all %}
                                            <p>{{b}}</p>
                                    {% endfor %}
                                </div>
                            </div>                        
                        {% endfor %}
                        </div>
                    </div>   
                    </div>  
    </section>


    {% include 'footer.html' %}