{% load static %}
{% include 'head.html' %}
    <section class="home-slider owl-carousel">
        <div class="slider-item bread-item" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container-fluid">
                <div class="row slider-text align-items-center justify-content-center" data-scrollax-parent="true">
                    <div class="col-md-8 mt-5 text-center col-sm-12 ftco-animate"
                        data-scrollax=" properties: { translateY: '70%' }">
                        <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                            <span class="mr-2"><a href="index.html">Beranda</a></span>
                            <span>Sejarah Singkat</span>
                        </p>
                        <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                            Sejarah Singkat
                        </h1>                        
                    </div>
                                     
                </div>

            </div>
        </div>
    </section>

    <section class="ftco-section my-4 py-4">
        <div class="container">
            <div class="row d-md-flex">
                <div class="col-md-12 ftco-animate about-image">
                    <img src="{% static 'images/logo.png' %}" class="img-fluid py-5" alt="Logo Osha" style="display: block;
                      margin-left: auto;
                      margin-right: auto;
                      width: 20%;">
                </div>
                <div class="ftco-animate">
                    <div class="row">
                        <div class="align-items-center">
                            <div>
                                <h2 class="mb-4" style="text-align:center;">Sejarah Singkat</h2>

                                <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PT OFISIAL SERTIFIKASI HARAPAN (OSHA), dibentuk berdasarkan deklarasi para pihak (stake holders) sebanyak 3 orang pada tanggal 1 November 2017 di Pepelegi Indah Blok L-4 Waru Sidoarjo dan dilanjutkan dengan membentuk badan hukum perseroan terbatas di hadapan notaris Flora Agustine Aritonang, SH Jalan Ikan Belanak No. 6 Surabaya pada tanggal 08 November 2017, dengan Akta No. 03 tanggal 08 November 2017, dan telah dicatatkan dalam Lembaran Negara No. AHU-053075.AH.01.01 Tahun 2017.<br> <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sebagai tindak lanjut deklarasi pembentukan perseroan terbatas tersebut di atas dan untuk meningkatkan kualifikasi, maka pada tanggal 16 April 2018 pukul 09.00 WIB dilakukan rapat umum pemegang saham (RUPS) luar biasa di kantor notaris Flora Agustine Aritonang, SH Jalan Ikan Belanak No. 6 Surabaya, yang dihadiri oleh Ir. Roberton Manurung, MM, Ir. Untung Prihadi, MSc, Ny. Maulida Isnaini,  SHum,  Ir.  Herastopo  Yuli Prasetyo,  Ir.  Sulistyono,  MT, Ir.  Sai’in,  MT  dan Ir. Salmin Letto, dengan Berita Acara No. 07 tanggal 16 April 2018, dan telah dicatatkan dalam Lembaran Negara No. AHU-0008500.AH.01.02 Tahun 2018.<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Untuk menyesuaikan maksud dan tujuan serta kegiatan usaha sesuai KBLI 2017, maka pada tanggal 04 Maret 2020 pukul 15.00 WIB dilakukan rapat umum pemegang saham (RUPS) di kantor notaris VIVI SORAYA, SH. Jalan Jemursari 6 No. 3 Surabaya, yang dihadiri oleh Ir. Salmin Letto, Ir. Roberton Manurung, MM, Ir. Untung Prihadi, MSc, Ny. Maulida Isnaini, SHum, Ir. Herastopo Yuli Prasetyo, Ir. Sulistyono, MT dan Ir. Sai’in, MT, dengan Berita Acara No. 08 tanggal 04 Maret 2020, dan telah dicatatkan dalam Lembaran Negara No. AHU-0020427.AH.01.02.TAHUN 2020.<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sambil menunggu penunjukan dari Menteri ESDM sebagai Lembaga Sertifikasi Kompetensi Tenaga Teknik, PT OSHA bekerja sama dengan Pusat Pengembangan Sumber Daya Manusia Ketenagalistrikan, Energi Baru, Terbarukan dan Konversi Energi (PPSDM KEBTKE) Kementerian ESDM telah menyelenggarakan Diklat Teknis Pelaksanaan Asessmen Asesor Kompetensi Bidang Distribusi Tenaga Listrik pada tanggal 26 s.d 31 Maret 2018 bertempat di PT PLN (Perseri) Distribusi Jawa Timur Area Surabaya Utara Jalan Gemblongan 64 Surabaya dan Uji Asesor Kompetensi Bidang Distribusi Tenaga Listrik pada tanggal 9 s.d 11 April 2018 di PT PLN (Persero) PUSHARLIS UWP VI Jalan Ngagel Timur 16 Surabaya.<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pada tanggal 20 September 2019 PT OSHA telah ditunjuk oleh Menteri ESDM sebagai Lembaga Sertifikasi Kompetensi Tenaga Teknik dengan nomor 314 K/20/DJL.4/2019.

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="col-md-6 mx-auto text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                        <div class="d-block">
                            <img src="{% static 'images/5.jpg' %}" class="img-fluid" alt="" />
                        </div>
    </div>   

    

    {% include 'footer.html' %}