{% load static %}
{% include 'head.html' %}
<main>
    <section class="home-slider owl-carousel" style="background-image: url('https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/sejarah_minified.jpg'); 
        background-size: cover; background-position: center; background-attachment:fixed;">
        <div class="slider-item bread-item" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container-fluid">
                <div class="row slider-text align-items-center justify-content-center" data-scrollax-parent="true">
                    <div class="col-md-8 mt-5 text-center col-sm-12 ftco-animate"
                        data-scrollax=" properties: { translateY: '70%' }">
                        <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                            <span class="mr-2">Beranda</span>
                            <span>Profil Osha</span>
                        </p>
                        <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                            Profil PT Osha
                        </h1>                        
                    </div>
                                     
                </div>

            </div>
        </div>
    </section>

    <section class="ftco-section my-4 py-4" id="sejarah">
        <div class="container">

            <div class="row d-md-flex">
                <div class="col-md-2 ftco-animate about-image">
                    <img loading="lazy" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/logo.png" class="logoOsha" alt="Logo Osha" style="" alt="logo osha"
                        width="200" height="200"/>
                </div>
                <div class="container d-md-flex">
                                <div class="ml-md-5 align-self-center">
                                    <h2 class="mb-4 text-center">Sejarah Singkat</h2>
                                    <article>
                                    <p>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PT OFISIAL SERTIFIKASI HARAPAN (OSHA), dibentuk berdasarkan deklarasi para pihak (stake holders) sebanyak 3 orang pada tanggal 1 November 2017 di Pepelegi Indah Blok L-4 Waru Sidoarjo dan dilanjutkan dengan membentuk badan hukum perseroan terbatas di hadapan notaris Flora Agustine Aritonang, SH Jalan Ikan Belanak No. 6 Surabaya pada tanggal 08 November 2017, dengan Akta No. 03 tanggal 08 November 2017, dan telah dicatatkan dalam Lembaran Negara No. AHU-053075.AH.01.01 Tahun 2017.<br> <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sebagai tindak lanjut deklarasi pembentukan perseroan terbatas tersebut di atas dan untuk meningkatkan kualifikasi, maka pada tanggal 16 April 2018 pukul 09.00 WIB dilakukan rapat umum pemegang saham (RUPS) luar biasa di kantor notaris Flora Agustine Aritonang, SH Jalan Ikan Belanak No. 6 Surabaya, yang dihadiri oleh Ir. Roberton Manurung, MM, Ir. Untung Prihadi, MSc, Ny. Maulida Isnaini,  SHum,  Ir.  Herastopo  Yuli Prasetyo,  Ir.  Sulistyono,  MT, Ir.  Sai’in,  MT  dan Ir. Salmin Letto, dengan Berita Acara No. 07 tanggal 16 April 2018, dan telah dicatatkan dalam Lembaran Negara No. AHU-0008500.AH.01.02 Tahun 2018.<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Untuk menyesuaikan maksud dan tujuan serta kegiatan usaha sesuai KBLI 2017, maka pada tanggal 04 Maret 2020 pukul 15.00 WIB dilakukan rapat umum pemegang saham (RUPS) di kantor notaris VIVI SORAYA, SH. Jalan Jemursari 6 No. 3 Surabaya, yang dihadiri oleh Ir. Salmin Letto, Ir. Roberton Manurung, MM, Ir. Untung Prihadi, MSc, Ny. Maulida Isnaini, SHum, Ir. Herastopo Yuli Prasetyo, Ir. Sulistyono, MT dan Ir. Sai’in, MT, dengan Berita Acara No. 08 tanggal 04 Maret 2020, dan telah dicatatkan dalam Lembaran Negara No. AHU-0020427.AH.01.02.TAHUN 2020.<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sambil menunggu penunjukan dari Menteri ESDM sebagai Lembaga Sertifikasi Kompetensi Tenaga Teknik, PT OSHA bekerja sama dengan Pusat Pengembangan Sumber Daya Manusia Ketenagalistrikan, Energi Baru, Terbarukan dan Konversi Energi (PPSDM KEBTKE) Kementerian ESDM telah menyelenggarakan Diklat Teknis Pelaksanaan Asessmen Asesor Kompetensi Bidang Distribusi Tenaga Listrik pada tanggal 26 s.d 31 Maret 2018 bertempat di PT PLN (Perseri) Distribusi Jawa Timur Area Surabaya Utara Jalan Gemblongan 64 Surabaya dan Uji Asesor Kompetensi Bidang Distribusi Tenaga Listrik pada tanggal 9 s.d 11 April 2018 di PT PLN (Persero) PUSHARLIS UWP VI Jalan Ngagel Timur 16 Surabaya.<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pada tanggal 20 September 2019 PT OSHA telah ditunjuk oleh Menteri ESDM sebagai Lembaga Sertifikasi Kompetensi Tenaga Teknik dengan nomor 314 K/20/DJL.4/2019.
                                </p>
                                    </article>
                                </div>
                            </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-6">
                    <a href="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/workshop/1.jpg" data-lightbox="mygallery" data-title="Sejarah Osha"> <img loading="lazy" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/workshop/1.jpg" style="width:500px;" alt="workshop ketenagalistrikan" width="300" height="300"/></a>
                </div>
                <div class="col-md-6">
                    <a href="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/struktur.jpg" data-lightbox="mygallery" data-title="Diklat Asesor">
                    <img loading="lazy" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/struktur.jpg" style="width:500px;" alt="Struktur osha" width="300" height="300"/></a>
                </div>
            </div>
        </div>
    </section>
    <section id="legalitas">
        <div class="img-gradient" loading="lazy">
            <h2 class="mb-4 font-weight-bold text-center" style="margin-top:40px;">
                Legalitas Osha
            </h2>
                            
                <div class="row justify-content-center text-center">
                    <div class="col-md-12">
                        <div id="legal" loading="lazy"></div>
                    </div>
                </div>
        </div>
    </section>
    <section class="ftco-section pb-0" id="struktur">
        <div class="container d-md-flex">
            <div class="align-self-center mx-auto">
                <h2 class="my-4 text-center font-weight-bold">Struktur Organisasi</h2>
                <div class="row py-4">
                    {% for a in komisaris %}
                    <div class="col-md-4 mb-4">                        
                        <div class="row">
                            
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

                        


    
<section id="asesor">
    <div class="tab-pane fade active show">
                            <div class="container d-md-flex">
                                <div class="ml-md-5 align-self-center">
                                    <h2 class="mb-4 text-center font-weight-bold">Tenaga Sumber Daya Manusia</h2>
                                    <div class="col-md-12 ftco-animate">
                    <a href="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/diklatAsesor/6.jpg" data-lightbox="mygallery" data-title="Sejarah Osha"> <img loading="lazy" class="about-image" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/diklatAsesor/6.jpg" alt="Tenaga Sumber Daya Manusia" /></a>
                </div>
                                    <article>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tenaga sumber daya manusia (SDM) yang tergabung di PT OSHA sebagai Asesor Kompetensi dalam proses uji sertifikasi adalah para tenaga ahli yang menguasai hal-hal teknis dibidangnya dengan pengalaman tidak kurang dari 20 tahun. Latar belakang pengalaman teknis yang pernah diemban oleh para asesor antara lain bidang: konsultansi, perencanaan, pembangunan dan pengawasan, operasi dan pemeliharaan serta manajemen pada pembangkit tenaga listrik dan jaringan distribusi tenaga listrik, termasuk sebagai tenaga pengajar (dosen) di perguruan tinggi teknik.<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Adapun mengenai latar belakang pendidikan formalnya, mulai dari jenjang S1 sampai dengan S3 dari berbagai jurusan antara lain jurusan teknik elektro, teknik mesin, manajemen, dan ditambah dengan pendidikan non formal melalui diklat-diklat dan seminar. Selain tenaga teknis, juga didukung oleh tenaga administrasi yang berpengalaman dalam penyelenggaraan proses uji sertifikasi.<br>
Rincian tenaga SDM di PT OSHA sebagai berikut:
                                </p>
<div style="font-weight:600; font-size:22px;">1. Asesor Kompetensi</div>

<p> Asesor Kompetensi yang memiliki jenjang kualifikasi pada masing-masing bidang dengan rincian:<br>
a. Asesor Kompetensi Bidang Pembangkitan : 20 orang<br>
b. Asesor Kompetensi Bidang Distribusi &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: 30 orang<br>
c. Asesor Kompetensi Bidang IPTL &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: 16 Orang<br>
d. Asesor Kompetensi Bidang Penjualan &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;: 8 orang<br>
Sebagaimana tampilan grafik data asesor dibawah:<br>
</p>
                                    </article>
                                </div>
                            </div>
                        </div>
</section>
<section class="ftco-section pt-0 bgbunga" loading="lazy">
        <h2 class="font-weight-bold text-center my-4" style="padding-top:40px;">Penanggung Jawab</h2>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3 col-4">
                    <div class="card-box text-center">
                        <div class="user-pic">
                            <img loading="lazy" width="300" height="200" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/asesor/foto3.jpg" class="img-fluid" alt="Asesor lsk osha bidang distribusi">
                        </div>
                        <h4>Ir. Roberton Manurung MM</h4>
                        <h6>Distribusi</h6>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 col-4">
                    <div class="card-box text-center">
                        <div class="user-pic">
                            <img loading="lazy" width="300" height="200" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/asesor/foto1.jpeg" class="img-fluid" alt="Asesor lsk osha bidang distribusi">
                        </div>
                        <h4>Ir. Salmin Letto</h4>
                        <h6>Distribusi</h6>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 col-4">
                    <div class="card-box text-center">
                        <div class="user-pic">
                            <img loading="lazy" width="300" height="200" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/asesor/foto2.jpg" class="img-fluid" alt="Asesor lsk osha bidang distribusi">
                        </div>
                        <h4>Ir. Arief Nurhidayat MM</h4>
                        <h6>Distribusi</h6>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 col-4">
                    <div class="card-box text-center">
                        <div class="user-pic">
                            <img loading="lazy" width="300" height="200" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/asesor/foto4.jpg" class="img-fluid" alt="Asesor lsk osha bidang pembangkitan" style="width:300px;">
                        </div>
                        <h4>Ir. Saiin MM</h4>
                        <h6>Pembangkitan</h6>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 col-4">
                    <div class="card-box text-center">
                        <div class="user-pic">
                            <img loading="lazy" width="300" height="200" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/asesor/foto5.jpeg" class="img-fluid" alt="Asesor lsk osha bidang pembangkitan">
                        </div>
                        <h4>Ir. Sulistyono MT</h4>
                        <h6>Pembangkitan</h6>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 col-4">
                    <div class="card-box text-center" width="300" height="200">
                        <div class="user-pic">
                            <img loading="lazy" width="300" height="200" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/asesor/foto6.jpeg" class="img-fluid" alt="Asesor lsk osha bidang pemanfaatan">
                        </div>
                        <h4>Ir. Hari Cahyono</h4>
                        <h6>Pemanfaatan Tenaga Listrik</h6>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 col-4">
                    <div class="card-box text-center" width="300" height="200">
                        <div class="user-pic">
                            <img loading="lazy" width="300" height="200" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/asesor/foto7.jpg" class="img-fluid" alt="Asesor lsk osha bidang distribusi">
                        </div>
                        <h4>Ir Untung Prihadi</h4>
                        <h6>Distribusi</h6>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 col-4">
                    <div class="card-box text-center">
                        <div class="user-pic">
                            <img loading="lazy" width="300" height="200" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/asesor/foto9.jpg" class="img-fluid" alt="Asesor lsk osha bidang penjualan">
                        </div>
                        <h4>Ir. Sanjtoko</h4>
                        <h6>Penjualan Tenaga Listrik</h6>
                    </div>
                </div>

            </div>
        </div>
    </section>

<section class="ftco-section pt-0">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 text-center ftco-animate">
                    <h2 class="mb-4 font-weight-bold" style="margin-top:40px;">Grafik Monitoring Pelaksanaan Uji</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-xs-6 col-sm-6 ftco-animate text-center fadeInUp ftco-animated">
                    <div class="gallery">
                        <a href="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/bagan/bagan1.PNG" data-lightbox="mygallery" data-title="Diklat Asesor"><img loading="lazy" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/bagan/bagan1.PNG" class="img-fluid" alt="Grafik jumlah asesi yang telah diuji" width="500" height="400"></a>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6 col-sm-6 ftco-animate text-center fadeInUp ftco-animated">
                    <div class="gallery">
                        <a href="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/bagan/bagan2.PNG" data-lightbox="mygallery" data-title="Diklat Asesor"><img loading="lazy" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/bagan/bagan2.PNG" class="img-fluid" alt="Grafik uji kompetensi bidang distribusi" width="500" height="400"></a>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6 col-sm-6 ftco-animate text-center fadeInUp ftco-animated">
                    <div class="gallery">
                        <a href="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/bagan/bagan3.PNG" data-lightbox="mygallery" data-title="Diklat Asesor"><img loading="lazy" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/bagan/bagan3.PNG" class="img-fluid" alt="Grafik uji kompetensi bidang pembangkitan" width="500" height="400"></a>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6 col-sm-6 ftco-animate text-center fadeInUp ftco-animated">
                    <div class="gallery">
                        <a href="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/bagan/bagan4.PNG" data-lightbox="mygallery" data-title="Diklat Asesor"><img loading="lazy" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/bagan/bagan4.PNG" class="img-fluid" alt="Grafik uji kompetensi bidang pembangkitan & distribusi" width="500" height="400"></a>
                    </div>
                </div>          
            </div>
        </div>
    </section>


    <section class="ftco-section" style="margin-top:-100px;">
        <div class="conz">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 text-center ftco-animate">
                    <h2 class="mb-4 font-weight-bold">Daftar Asesor</h2>
                </div>
            </div>
            <div class="row ftco-animate testimony-section">
                    <div class="row flex-nowrap" style="overflow-x:auto;">
                        {% for a in sesuatu %}
                            <div class="col-md-3 col-lg-2 col-sm-4 col-xs-4">
                                <div class="card-box text-center">
                                    <div class="user-pic">
                                        <img loading="lazy" src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/asesor/profile.jpg" class="img-fluid" alt="User Pic" width="300" height="200">
                                    </div>
                                    <h4>{{a.namaAsesor}}</h4>
                                    <hr>
                                    {% for b in a.bidang.all %}
                                            <p>{{b}}</p>
                                    {% endfor %}
                                </div>
                            </div>                        
                        {% endfor %}
                        </div>
                    </div>   
                    </div>  
    </section>

</main>
    
    {% include 'footer.html' %}