{% load static %}
{% include 'head.html' %}
    <section class="home-slider owl-carousel">
        <div class="slider-item bread-item" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container-fluid">
                <div class="row slider-text align-items-center justify-content-center" data-scrollax-parent="true">
                    <div class="col-md-8 mt-5 text-center col-sm-12 ftco-animate"
                        data-scrollax=" properties: { translateY: '70%' }">
                        <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                            <span class="mr-2"><a href="index.html">Beranda</a></span>
                            <span>Struktur Organisasi</span>
                        </p>
                        <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                            Struktur Organisasi
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section pb-0">
        <div class="container d-md-flex">
            <div class="align-self-center mx-auto">
                <h2 class="my-4 text-center font-weight-bold">Dewan Komisaris</h2>
                <div class="row py-4">
                    <div class="col-md-4 mb-4">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <img src="assets/images/avatar.png" alt="" width="200px" class="img-fluid rounded-circle" />
                            </div>
                            <div class="col-md-12 text-center">
                                <div class="pt-2">
                                    <h5 class="mt-4 font-weight-bold mb-0">
                                        Untung Prihadi
                                    </h5>
                                    <h6 class="subtitle mb-3">
                                        Komisaris Utama
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <img src="assets/images/avatar.png" alt="" width="200px" class="img-fluid rounded-circle" />
                            </div>
                            <div class="col-md-12 text-center">
                                <div class="pt-2">
                                    <h5 class="mt-4 font-weight-bold mb-0">
                                        Sai'in
                                    </h5>
                                    <h6 class="subtitle mb-3">
                                        Komisaris
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <img src="assets/images/avatar.png" alt="" width="200px" class="img-fluid rounded-circle" />
                            </div>
                            <div class="col-md-12 text-center">
                                <div class="pt-2">
                                    <h5 class="mt-4 font-weight-bold mb-0">
                                        Ny. Maulida Isnaini 
                                    </h5>
                                    <h6 class="subtitle mb-3">
                                        Komisaris
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section py-0">
        <div class="container d-md-flex">
            <div class="align-self-center mx-auto">
                <h2 class="my-4 text-center font-weight-bold">Jajaran Direksi</h2>
                <div class="row py-4">
                    <div class="col-md-4 mb-4">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <img src="assets/images/avatar.png" alt="" width="200px" class="img-fluid rounded-circle" />
                            </div>
                            <div class="col-md-12 text-center">
                                <div class="pt-2">
                                    <h5 class="mt-4 font-weight-bold mb-0">
                                        Salmin Letto
                                    </h5>
                                    <h6 class="subtitle mb-3">
                                        Direktur Utama
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <img src="assets/images/avatar.png" alt="" width="200px" class="img-fluid rounded-circle" />
                            </div>
                            <div class="col-md-12 text-center">
                                <div class="pt-2">
                                    <h5 class="mt-4 font-weight-bold mb-0">
                                        Sulistyono
                                    </h5>
                                    <h6 class="subtitle mb-3">
                                        Direktur Teknik
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <img src="assets/images/avatar.png" alt="" width="200px" class="img-fluid rounded-circle" />
                            </div>
                            <div class="col-md-12 text-center">
                                <div class="pt-2">
                                    <h5 class="mt-4 font-weight-bold mb-0">
                                        Roberton Manurung
                                    </h5>
                                    <h6 class="subtitle mb-3">
                                        Direktur Operasional
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section py-0">
        <div class="container d-md-flex">
            <div class="align-self-center mx-auto">
                <h2 class="my-4 text-center font-weight-bold">Bidang Distribusi</h2>
                <div class="row py-4">
                    <div class="col-md-3 mb-4">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <img src="assets/images/avatar.png" alt="" width="200px" class="img-fluid rounded-circle" />
                            </div>
                            <div class="col-md-12 text-center">
                                <div class="pt-2">
                                    <h5 class="mt-4 font-weight-bold mb-0">
                                        Roberton Manurung
                                    </h5>
                                    <h6 class="subtitle mb-3">
                                        PJT Sub Bidang Pemeliharaan, Konsultasi, Pemeriksaan & Pengujian, Pembangunan & Pemasangan, Pengoperasian
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-4">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <img src="assets/images/avatar.png" alt="" width="200px" class="img-fluid rounded-circle" />
                            </div>
                            <div class="col-md-12 text-center">
                                <div class="pt-2">
                                    <h5 class="mt-4 font-weight-bold mb-0">
                                        Sulistyono
                                    </h5>
                                    <h6 class="subtitle mb-3">
                                        PJT Sub Bidang Pemeliharaan, Konsultasi, Pemeriksaan & Pengujian, Pembangunan & Pemasangan, Pengoperasian
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-4">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <img src="assets/images/avatar.png" alt="" width="200px" class="img-fluid rounded-circle" />
                            </div>
                            <div class="col-md-12 text-center">
                                <div class="pt-2">
                                    <h5 class="mt-4 font-weight-bold mb-0">
                                        Arief Nur Hidayat
                                    </h5>
                                    <h6 class="subtitle mb-3">
                                        PJT Sub Bidang Pemeriksaan & Pengujian, Pembangunan & Pemasangan
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-4">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <img src="assets/images/avatar.png" alt="" width="200px" class="img-fluid rounded-circle" />
                            </div>
                            <div class="col-md-12 text-center">
                                <div class="pt-2">
                                    <h5 class="mt-4 font-weight-bold mb-0">
                                        Irkham Tamtomo
                                    </h5>
                                    <h6 class="subtitle mb-3">
                                        TT Sub Bidang Pemeliharaan, Konsultasi, Pengoperasian
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-4">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <img src="assets/images/avatar.png" alt="" width="200px" class="img-fluid rounded-circle" />
                            </div>
                            <div class="col-md-12 text-center">
                                <div class="pt-2">
                                    <h5 class="mt-4 font-weight-bold mb-0">
                                        Herastopo Yuli P.
                                    </h5>
                                    <h6 class="subtitle mb-3">
                                        TT Sub Bidang Pemeliharaan, Konsultasi, Pemeriksaan & Pengujian, Pembangunan & Pemasangan, Pengoperasian
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-4">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <img src="assets/images/avatar.png" alt="" width="200px" class="img-fluid rounded-circle" />
                            </div>
                            <div class="col-md-12 text-center">
                                <div class="pt-2">
                                    <h5 class="mt-4 font-weight-bold mb-0">
                                        Johnny Palma
                                    </h5>
                                    <h6 class="subtitle mb-3">
                                        TT Sub Bidang Pemeriksaan & Pengujian, Pembangunan & Pemasangan
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-4">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <img src="assets/images/avatar.png" alt="" width="200px" class="img-fluid rounded-circle" />
                            </div>
                            <div class="col-md-12 text-center">
                                <div class="pt-2">
                                    <h5 class="mt-4 font-weight-bold mb-0">
                                        Gunawan
                                    </h5>
                                    <h6 class="subtitle mb-3">
                                        TT Sub Bidang Pemeriksaan & Pengujian, Pembangunan & Pemasangan
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-4">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <img src="assets/images/avatar.png" alt="" width="200px" class="img-fluid rounded-circle" />
                            </div>
                            <div class="col-md-12 text-center">
                                <div class="pt-2">
                                    <h5 class="mt-4 font-weight-bold mb-0">
                                        Mohamad Gufron
                                    </h5>
                                    <h6 class="subtitle mb-3">
                                        TT Sub Bidang Pemeliharaan, Pengoperasian
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section py-0">
        <div class="container d-md-flex">
            <div class="align-self-center mx-auto">
                <h2 class="my-4 text-center font-weight-bold">Bidang Pembangkitan</h2>
                <div class="row py-4">
                    <div class="col-md-4 mb-4">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <img src="assets/images/avatar.png" alt="" width="200px" class="img-fluid rounded-circle" />
                            </div>
                            <div class="col-md-12 text-center">
                                <div class="pt-2">
                                    <h5 class="mt-4 font-weight-bold mb-0">
                                        Roberton Manurung
                                    </h5>
                                    <h6 class="subtitle mb-3">
                                        PJT Sub Bidang Pemeliharaan, Konsultasi, Pemeriksaan & Pengujian, Pembangunan & Pemasangan, Pengoperasian
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <img src="assets/images/avatar.png" alt="" width="200px" class="img-fluid rounded-circle" />
                            </div>
                            <div class="col-md-12 text-center">
                                <div class="pt-2">
                                    <h5 class="mt-4 font-weight-bold mb-0">
                                        Irkham Tamtomo
                                    </h5>
                                    <h6 class="subtitle mb-3">
                                        TT Sub Bidang Pemeliharaan, Konsultasi, Pemeriksaan & Pengujian, Pembangunan & Pemasangan, Pengoperasian
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <img src="assets/images/avatar.png" alt="" width="200px" class="img-fluid rounded-circle" />
                            </div>
                            <div class="col-md-12 text-center">
                                <div class="pt-2">
                                    <h5 class="mt-4 font-weight-bold mb-0">
                                        Hari Cahyono
                                    </h5>
                                    <h6 class="subtitle mb-3">
                                        TT Sub Bidang Pemeliharaan, Konsultasi, Pemeriksaan & Pengujian, Pembangunan & Pemasangan, Pengoperasian
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <img src="assets/images/avatar.png" alt="" width="200px" class="img-fluid rounded-circle" />
                            </div>
                            <div class="col-md-12 text-center">
                                <div class="pt-2">
                                    <h5 class="mt-4 font-weight-bold mb-0">
                                        Ngadiman
                                    </h5>
                                    <h6 class="subtitle mb-3">
                                        TT Sub Bidang Pengoperasian, Pemeliharaan
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4"></div>
                    <div class="col-md-4 mb-4">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <img src="assets/images/avatar.png" alt="" width="200px" class="img-fluid rounded-circle" />
                            </div>
                            <div class="col-md-12 text-center">
                                <div class="pt-2">
                                    <h5 class="mt-4 font-weight-bold mb-0">
                                        Gunawan
                                    </h5>
                                    <h6 class="subtitle mb-3">
                                        TT Sub Bidang Pemeriksaan & Pengujian, Pembangunan & Pemasangan
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section py-0">
        <div class="container d-md-flex">
            <div class="align-self-center mx-auto">
                <h2 class="my-4 text-center font-weight-bold">Manajer Sertifikasi</h2>
                <div class="row py-4">
                    <div class="col-md-12 mb-4">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <img src="assets/images/avatar.png" alt="" width="200px" class="img-fluid rounded-circle" />
                            </div>
                            <div class="col-md-12 text-center">
                                <div class="pt-2">
                                    <h5 class="mt-4 font-weight-bold mb-0">
                                        Herastopo Yuli P.
                                    </h5>
                                    <h6 class="subtitle mb-3">
                                        Manajer Sertifikasi, Administrasi, dan Keuangan
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section py-0">
        <div class="container d-md-flex">
            <div class="align-self-center mx-auto">
                <h2 class="my-4 text-center font-weight-bold">Seksi</h2>
                <div class="row py-4">
                    <div class="col-md-12 mb-4">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <img src="assets/images/avatar.png" alt="" width="200px" class="img-fluid rounded-circle" />
                            </div>
                            <div class="col-md-12 text-center">
                                <div class="pt-2">
                                    <h5 class="mt-4 font-weight-bold mb-0">
                                        Windu Ashari
                                    </h5>
                                    <h6 class="subtitle mb-3">
                                        Seksi Administrasi dan Keuangan
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'footer.html' %}