{% load static %}
{% include 'head.html' %}
    <section class="home-slider owl-carousel" style="background-image: url('{% static 'images/sejarah.jpg' %}'); 
        background-size: cover; background-position: center;">
        <div class="slider-item bread-item" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container-fluid">
                <div class="row slider-text align-items-center justify-content-center" data-scrollax-parent="true">
                    <div class="col-md-8 mt-5 text-center col-sm-12 ftco-animate"
                        data-scrollax=" properties: { translateY: '70%' }">
                        <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                            <span class="mr-2"><a href="index.html">Beranda</a></span>
                            <span>Struktur Organisasi</span>
                        </p>
                        <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                            Struktur Organisasi
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section pb-0">
        <div class="container d-md-flex">
            <div class="align-self-center mx-auto">
                <h2 class="my-4 text-center font-weight-bold">Dewan Komisaris</h2>
                <div class="row py-4">
                    {% for a in komisaris %}
                    <div class="col-md-4 mb-4">                        
                        <div class="row">
                            <div class="col-md-12 text-center">
                                {% if a.smart %}
                                <img src="{{a.smart.url}}" alt="" width="200px" class="img-fluid rounded-circle" />
                                {% endif %}
                                
                            </div>
                            <div class="col-md-12 text-center">
                                <div class="pt-2">
                                    <h5 class="mt-4 font-weight-bold mb-0">
                                        {{a.nama}}
                                    </h5>
                                    <h6 class="subtitle mb-3">
                                        {{a.keterangan}}
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section py-0">
        <div class="container d-md-flex">
            <div class="align-self-center mx-auto">
                <h2 class="my-4 text-center font-weight-bold">Jajaran Direksi</h2>
                <div class="row py-4">
                    {% for a in direksi %}
                    <div class="col-md-4 mb-4">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                {% if a.smart %}
                                <img src="{{a.smart.url}}" alt="" width="200px" class="img-fluid rounded-circle" />
                                {% endif %}
                            </div>
                            <div class="col-md-12 text-center">
                                <div class="pt-2">
                                    <h5 class="mt-4 font-weight-bold mb-0">
                                        {{a.nama}}
                                    </h5>
                                    <h6 class="subtitle mb-3">
                                        {{a.keterangan}}
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section py-0">
        <div class="container d-md-flex">
            <div class="align-self-center mx-auto">
                <h2 class="my-4 text-center font-weight-bold">Bidang Distribusi</h2>
                <div class="row py-4">
                    {% for a in distribusi %}
                    <div class="col-md-3 mb-4">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                {% if a.smart %}
                                <img src="{{a.smart.url}}" alt="" width="200px" class="img-fluid rounded-circle" />
                                {% endif %}
                            </div>
                            <div class="col-md-12 text-center">
                                <div class="pt-2">
                                    <h5 class="mt-4 font-weight-bold mb-0">
                                        {{a.nama}}
                                    </h5>
                                    <h6 class="subtitle mb-3">
                                        {{a.keterangan}}
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>                    
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section py-0">
        <div class="container d-md-flex">
            <div class="align-self-center mx-auto">
                <h2 class="my-4 text-center font-weight-bold">Bidang Pembangkitan</h2>
                <div class="row py-4">
                    {% for a in pembangkitan %}
                    <div class="col-md-4 mb-4">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                {% if a.smart %}
                                <img src="{{a.smart.url}}" alt="" width="200px" class="img-fluid rounded-circle" />
                                {% endif %}
                            </div>
                            <div class="col-md-12 text-center">
                                <div class="pt-2">
                                    <h5 class="mt-4 font-weight-bold mb-0">
                                        {{a.nama}}
                                    </h5>
                                    <h6 class="subtitle mb-3">
                                        {{a.keterangan}}
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div> 
                    {% endfor %}                   
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section py-0">
        <div class="container d-md-flex">
            <div class="align-self-center mx-auto">
                <h2 class="my-4 text-center font-weight-bold">Manajer Sertifikasi</h2>
                <div class="row py-4">
                    {% for a in manager %}
                    <div class="col-md-12 mb-4">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                {% if a.smart %}
                                <img src="{{a.smart.url}}" alt="" width="200px" class="img-fluid rounded-circle" />
                                {% endif %}
                            </div>
                            <div class="col-md-12 text-center">
                                <div class="pt-2">
                                    <h5 class="mt-4 font-weight-bold mb-0">
                                        {{a.nama}}
                                    </h5>
                                    <h6 class="subtitle mb-3">
                                        {{a.keterangan}}
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section py-0">
        <div class="container d-md-flex">
            <div class="align-self-center mx-auto">
                <h2 class="my-4 text-center font-weight-bold">Seksi</h2>
                <div class="row py-4">
                    {% for a in seksi %}
                    <div class="col-md-12 mb-4">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                {% if a.smart %}
                                <img src="{{a.smart.url}}" alt="" width="200px" class="img-fluid rounded-circle" />
                                {% endif %}

                            </div>
                            <div class="col-md-12 text-center">
                                <div class="pt-2">
                                    <h5 class="mt-4 font-weight-bold mb-0">
                                        {{a.nama}}
                                    </h5>
                                    <h6 class="subtitle mb-3">
                                        {{a.keterangan}}
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    {% include 'footer.html' %}