	{% load static %}

{% load compress %}
    <footer class="ftco-footer ftco-bg-dark ftco-section">

        <div class="container">  
            <div class="row">
                <div class="col-md-12 text-center" style="margin-top:-80px">
                 <div id="histats_counter"></div>
                <script type="text/javascript">var _Hasync= _Hasync|| [];
                _Hasync.push(['Histats.start', '1,4620595,4,408,270,55,00011111']);
                _Hasync.push(['Histats.fasi', '1']);
                _Hasync.push(['Histats.track_hits', '']);
                (function() {
                var hs = document.createElement('script'); hs.type = 'text/javascript'; hs.async = true;
                hs.src = ('//s10.histats.com/js15_as.js');
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(hs);
                })();</script>
                <noscript><a href="/" target="_blank"><img  src="//sstatic1.histats.com/0.gif?4620595&101" alt="" border="0"></a></noscript>
            </div>
            <div class="row mb-5">                
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Office</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li>
                                    <span class="icon icon-map-marker"></span>
                                    <span class="text">Jl. Pepelegi Indah Blok L No. 4 Waru Sidoarjo</span>
                                </li>
                                <li>
                                    <span class="icon icon-phone"></span>
                                    <span class="text">+628123571644 & +62811359709 </span>
                                </li>
                                <li>
                                    <span class="icon icon-envelope"></span>
                                    <span class="text">osha.eleska.ind@gmail.com</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="ftco-animate" >
                           <div class="mapouter" loading="lazy"><div class="gmap_canvas"><iframe class="googlemap" style="margin-left:100px;"width="653" height="323" id="gmap_canvas" src="https://maps.google.com/maps?q=lsk%20osha&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://putlocker-is.org"></a><br><style>.mapouter{position:relative;text-align:right;height:323px;width:653px;}</style><a href="https://www.embedgooglemap.net">map widget for website</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:323px;width:653px;}</style></div></div>
                </div>
            </div>
                <div class="col-md-12 text-center">
                    <p>
                        Copyright &copy; 2022 
                        <a href="https://hahaha.com" target="_blank">PT OFISIAL SERTIFIKASI HARAPAN (OSHA)</a>
                    </p>
                </div>      
    </footer>
    {% compress js %}
	<script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
    {% endcompress %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.0/js/lightbox.js"></script>
    {% compress js %}
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>
    <script src="{% static 'js/scrollax.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script defer type="text/javascript">
    (function () {
        var options = {
            whatsapp: "+62 811-359-709", // WhatsApp number
            instagram: "lsk.osha", // Instagram username
            call_to_action: "Hubungi kami", // Call to action
            button_color: "#4DC247", // Color of button
            position: "right", // Position may be 'right' or 'left'
            order: "whatsapp,instagram", // Order of buttons
        };
        var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
</script>
    <script>
        $(document).ready(function () {
            var owl = $('.legalitas-slider');
            owl.owlCarousel({
                loop: true,
                margin: 10,
                nav: true,
                autoplay: true,
                autoplayTimeout: 3000,
                autoplayHoverPause: true,
                responsive: {
                    0: {
                        items: 1
                    }
                }
            });
            var owl = $('.pj-slider');
            owl.owlCarousel({
                loop: true,
                margin: 10,
                nav: true,
                autoplay: true,
                autoplayTimeout: 3000,
                autoplayHoverPause: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 4
                    }
                }
            });
            $('.brand-carousel').owlCarousel({
                  loop:false,
                  margin:10,
                  autoplay:true,
                  responsive:{
                    0:{
                      items:1
                    },
                    600:{
                      items:3
                    },
                    1000:{
                      items:5
                    }
                  }
                })
                            });
    
    </script>
    {% endcompress %}
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ProfessionalService",
  "name": "PT OSHA",
  "image": "https://d2k7cs0xs3rhdz.cloudfront.net/images/ujiTT/3 low.jpg",
  "author": "Prof. Dr. Robert Manurung",
  "description":"lembaga sertifikasi kompetensi lsk ketenagalistrikan yang berpengalaman"
}
</script>
{% compress js %}
    <script defer  src="{% static 'js/pdfobject.min.js' %}"></script>
    <script defer>
        PDFObject.embed("https://d2k7cs0xs3rhdz.cloudfront.net/pdf/Kegiatan Uji Kompetensi.pdf", "#guide");
        PDFObject.embed("https://d2k7cs0xs3rhdz.cloudfront.net/pdf/profileOsha.pdf", "#profile");
        PDFObject.embed("https://d2k7cs0xs3rhdz.cloudfront.net/pdf/legal.pdf", "#legal");
        PDFObject.embed("https://d2k7cs0xs3rhdz.cloudfront.net/pdf/kegiatan.pdf", "#kegiatan");
    </script>
{% endcompress %}
</body>

</html>