	{% load static %}

    <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Profil Singkat Osha</h2>
                        <p>
                            PT Ofisial Sertifikasi Harapan (OSHA) adalah sebuah perusahaan yang bergerak di bidang Distribusi Tenaga Listrik dan Pembangkitan Tenaga Listrik. Pada tanggal 20 September 2019 PT OSHA telah ditunjuk oleh Menteri ESDM sebagai Lembaga Sertifikasi Kompetensi Tenaga Teknik dengan nomor 314 K/20/DJL.4/2019.
                        </p>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-5">
                        <h2 class="ftco-heading-2">Tentang Osha</h2>
                        <ul class="list-unstyled">
                            <li><a href="{% url 'tentang:profil' %}" class="py-2 d-block">Sejarah Singkat</a></li>
                            <li><a href="{% url 'tentang:legalitas' %}" class="py-2 d-block">Legalitas</a></li>
                            <li><a href="{% url 'tentang:struktur' %}" class="py-2 d-block">Struktur Organisasi</a></li>
                            <li><a href="{% url 'tentang:daftarAsesor' %}" class="py-2 d-block">Daftar Asesor</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Sertifikasi</h2>
                        <ul class="list-unstyled">
                            <li><a class="py-2 d-block" href="{% url 'sertifikasi:ruang' %}">Ruang Lingkup</a></li>
                            <li><a class="py-2 d-block" href="{% url 'sertifikasi:proses' %}">Proses Sertifikasi</a></li>
                            <li><a class="py-2 d-block" href="{% url 'sertifikasi:alur' %}">Alur Sertifikasi</a></li>
                            <li><a class="py-2 d-block" href="{% url 'sertifikasi:regulasi' %}">Regulasi Sertifikasi</a></li>
                            <li><a class="py-2 d-block" href="{% url 'pengalamanKontakForm:permohonan' %}">Permohonan Sertifikasi</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Office</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li>
                                    <span class="icon icon-map-marker"></span>
                                    <span class="text">Jl. Pepelegi Indah Blok L No. 4 Waru Sidoarjo</span>
                                </li>
                                <li>
                                    <span class="icon icon-phone"></span>
                                    <span class="text">0812.3571.644  &  0856.5517.3679</span>
                                </li>
                                <li>
                                    <span class="icon icon-envelope"></span>
                                    <span class="text">osha.eleska.ind@gmail.com</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>
                        Copyright &copy;
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        <a href="https://hahaha.com" target="_blank">PT OFISIAL SERTIFIKASI HARAPAN (OSHA)</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
	<script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>
    <script src="{% static 'js/scrollax.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script>
        $(document).ready(function () {
            var owl = $('.legalitas-slider');
            owl.owlCarousel({
                loop: true,
                margin: 10,
                nav: true,
                autoplay: true,
                autoplayTimeout: 3000,
                autoplayHoverPause: true,
                responsive: {
                    0: {
                        items: 1
                    }
                }
            });
            var owl = $('.pj-slider');
            owl.owlCarousel({
                loop: true,
                margin: 10,
                nav: true,
                autoplay: true,
                autoplayTimeout: 3000,
                autoplayHoverPause: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 4
                    }
                }
            });
            $('.brand-carousel').owlCarousel({
                loop: false,
                autoplay: true,
                autoplayHoverPause: true,
                margin: 30,
                nav: true,
                navText: ["<i class='fa fa-caret-left'></i>", "<i class='fa fa-caret-right'></i>"],
                responsive: {
                    0: {
                        items: 2 },
                    520: {
                        items: 3
                    },
                    750: {
                        items: 4
                    },
                    1000: {
                        items: 5
                    }
                }
            });
        })
    </script>
</body>

</html>