{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="id">

<head>
    <title>PT OSHA | Lembaga Sertifikasi Kompetensi Tenaga Listrik</title>
    <meta charset="utf-8">
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3MQPJQ57FR"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-3MQPJQ57FR');
</script>
    <meta name="keywords" content="pln, lembaga sertifikasi kompetensi, tenaga listrik">
    <meta name="author" content="lskosha">
    <meta name="description" content="Lembaga sertifikasi kompetensi tenaga listrik berpengalaman">
    <meta name="google-site-verification" content="6c_aLDAkN-iw5E5p438QL81DJCKkQdpeGgFkn-1Z8nk" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,,500,600,700" rel="stylesheet">
    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/animate.css' %} ">
    <link rel="stylesheet" href="{% static 'css/lightbox.min.css' %} ">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endcompress %}
    <script src="https://use.fontawesome.com/34b93a7a3f.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/logo_small.png" />

    {% compress css %}
    <style>
@media(max-width:1300px){
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 3px 4px 3px #999;
    left: 1750px;
    z-index: 100;
}
.text-black{
    color:black;
}

.text11{
    position: fixed;
  padding:0.7rem;
  flex-direction:row-reverse;
  width: 200px;
    height: 30px;
    bottom: 60px;
  left: 85%;
    z-index: 100;
}

.text-content11{
    border-radius:20px 0px 20px 20px;
  background:hsl(220, 20%, 94%);
  padding:1.5rem;
  font-size:0.8rem;
  line-height:10%;
  letter-spacing:0.5px;
}

.whats-app {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 3px 4px 3px #999;
    left: 95%;
    z-index: 100;
}

.my-float {
    margin-top: 10px;
}
    </style>
    {% endcompress %}
</head>

<body>
    {% url 'beranda' as dashboard %}
{% url 'tentang:daftarAsesor' as daftarAsesor %}     
{% url 'tentang:legalitas' as legalitas %}           
{% url 'tentang:profil' as profil %}
{% url 'tentang:struktur' as struktur %}
{% url 'sertifikasi:alur' as alur %}
{% url 'sertifikasi:proses' as proses %}
{% url 'sertifikasi:regulasi' as regulasi %}
{% url 'sertifikasi:ruang' as ruang %}
{% url 'pengalamanKontakForm:pengalaman' as dokumentasi %}
{% url 'pengalamanKontakForm:kontak' as kontak %}
{% url 'pengalamanKontakForm:permohonan' as permohonan %}

    <nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" style="background-color: white;">

        <div class="container">
            <a href="index.html p-2" style="flex-wrap: nowrap;">
                <img src="https://bucket-aja.s3.ap-southeast-1.amazonaws.com/images/logo_small.png" class="img-fluid" alt="Logo Osha">
            </a>
            <span class="navbar-brand m-2">Osha </span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item {% if request.get_full_path == dashboard %}active{% endif %}">
                        <a href="{% url 'beranda' %}" class="nav-link text-uppercase">Beranda</a>
                    </li>
                    <li class="nav-item dropdown {% if request.get_full_path == profil or request.get_full_path == legalitas or request.get_full_path == struktur or request.get_full_path == daftarAsesor %}active{% endif %}" >
                        <a class="nav-link text-uppercase dropdown-toggle" data-toggle="dropdown" href="{% url 'tentang:profil' %}">Tentang</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'tentang:profil' %}">Sejarah Singkat</a>
                            <a class="dropdown-item" href="{% url 'tentang:legalitas' %}">Legalitas</a>
                            <a class="dropdown-item" href="{% url 'tentang:struktur' %}">Struktur Organisasi</a>
                            <a class="dropdown-item" href="{% url 'tentang:daftarAsesor' %}">Daftar Asesor</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown {% if request.get_full_path == ruang or request.get_full_path == proses or request.get_full_path == alur or request.get_full_path == regulasi or request.get_full_path == permohonan %}active{% endif %}">
                        <a class="nav-link text-uppercase dropdown-toggle" data-toggle="dropdown"  href="{% url 'sertifikasi:ruang' %}" >Layanan</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'sertifikasi:ruang' %}#maklumat">Maklumat Layanan</a>
                            <a class="dropdown-item" href="{% url 'sertifikasi:ruang' %}#layanan">Bidang Kami</a>
                            <a class="dropdown-item" href="{% url 'sertifikasi:ruang' %}#alur">Alur Sertifikasi</a>
                            <a class="dropdown-item" href="{% url 'sertifikasi:ruang' %}#persyaratan">Persyaratan Sertifikasi</a>
                            <a class="dropdown-item" href="{% url 'sertifikasi:ruang' %}#keluh">Keluh dan Banding</a>
                            <a class="dropdown-item" href="https://skttkdjk.esdm.go.id/web/page/download">Pedoman & Metodologi Okupasi SKTTK</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link text-uppercase dropdown-toggle" data-toggle="dropdown" href="{% url 'tentang:profil' %}">Sertifikat Anda</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="https://skttkdjk.esdm.go.id/#btn-login-lsk">Cek Permohonan</a>
                            <a class="dropdown-item" href="https://skttkdjk.esdm.go.id/#btn-login-lsk">Verifikasi Sertifikat</a>
                            
                        </div>
                    </li>


                    <li class="nav-item {% if request.get_full_path == dokumentasi %}active{% endif %}" >
                        <a class="nav-link text-uppercase" href="{% url 'pengalamanKontakForm:pengalaman' %}">Dokumentasi</a>
                    </li>
                    <li class="nav-item {% if request.get_full_path == kontak %}active{% endif %}">
                        <a href="{% url 'pengalamanKontakForm:kontak' %}" class="nav-link text-uppercase">Kontak</a>
                    </li>                                     
                             <li class="nav-item cta">
                <a href="{% static 'SOP.pdf' %}" class="btn btn-primary">
                    <span>Lihat SOP</span>
                </a>
            </li>          
                </ul>

            </div>

        </div>

            
    </nav>